body {
  font-family: Arial;
  text-align: center;
  background: #f9f9f9;
}

input, textarea {
  width: 250px;
  padding: 10px;
}

button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
}
